{:deps    {com.hyperfiddle/electric       {:git/url "https://github.com/hyperfiddle/electric" :sha "b32ac98df7d7ec87f225d47354671be172ffa87e"}
           ring/ring                      {:mvn/version "1.11.0"} ; comes with Jetty
           org.clojure/clojure            {:mvn/version "1.12.0-alpha5"}
           org.clojure/clojurescript      {:mvn/version "1.11.121"}
           org.clojure/tools.logging      {:mvn/version "1.2.4"}
           ch.qos.logback/logback-classic {:mvn/version "1.4.14"}
           com.fasterxml.jackson.core/jackson-core {:mvn/version "2.16.0"}
           ;; datomic 
           com.datomic/client-cloud       {:mvn/version "1.0.123"}
           com.datomic/local              {:mvn/version "1.0.267"}
            ;; Routing lib
           metosin/reitit                 {:mvn/version "0.7.0-alpha7"}
            ;; tests
           com.hyperfiddle/rcf            {:mvn/version "20220926-202227"}
           tortue/spy                     {:mvn/version "2.13.0"}
           ;; datomic migrations
        ;;    caribou/caribou       {:git/url "https://github.com/recbus/caribou" :sha "b32ac98df7d7ec87f225d47354671be172ffa87e"}
           }
 :paths   ["src" "resources"]
 :aliases {:dev
           {:extra-paths ["src-dev"]
            :extra-deps  {thheller/shadow-cljs          {:mvn/version "2.26.2"}
                          io.github.clojure/tools.build {:mvn/version "0.9.6"
                                                         :exclusions  [com.google.guava/guava  ; Guava version conflict between tools.build and clojurescript.
                                                                       org.slf4j/slf4j-nop]}}} ; clashes with app logger
           :prod
           {:extra-paths ["src-prod"]}

           :build ; use `clj -X:build build-client`, NOT -T! build/app classpath contamination cannot be prevented
           {:extra-paths ["src-build"]
            :ns-default  build
            :extra-deps  {thheller/shadow-cljs          {:mvn/version "2.26.2"}
                          io.github.clojure/tools.build {:mvn/version "0.9.6"
                                                         :exclusions  [com.google.guava/guava   ; Guava version conflict between tools.build and clojurescript.
                                                                       org.slf4j/slf4j-nop]}}} ; clashes with app logger
           
            :test
           {:jvm-opts ["-Dhyperfiddle.rcf.generate-tests=true"]

            
            :extra-deps  {lambdaisland/kaocha {:mvn/version "1.60.945"}
                          com.datomic/local    {:mvn/version "1.0.267"}}
            :main-opts   ["-m" "kaocha.runner"]}
           
           }
 }
